body {
    background-color: #24353f;
}

.group {
    box-shadow: rgb(0, 0, 0) -5px 2px 54px -9px;
}

.form-control:focus {
    box-shadow: none;
     background-color: #24353f;

}

.form-control {
     background-color: #24353f;

}